<h2>List of receipt</h2>
<input type="button" value="Добавить" (click)="add()" class="btn btn-success" />
<table class="table table-striped">
    <thead>
        <tr>
            <th mat-sort-header="id">Id</th>
            <th mat-sort-header="data">Date</th>
            <th mat-sort-header="totalAmount">Total amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of receipts">
            <ng-template [ngIf]="receipt?.id != r.id" [ngIfElse]="edit">
                <td><a [routerLink]="['receipt-detail', r.id]" class="nav-link">{{r?.id}}</a></td>
                <td>{{r?.date}}</td>
                <td>{{r?.totalAmount}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="editReceipt(r)">Изменить</button>
                    <button class="btn btn-sm btn-danger" (click)="delete(r)">Удалить</button>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>

<!--шаблон для редактирования-->
<ng-template #edit>
    <td>
        <input type="text" [(ngModel)]="receipt.id" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="receipt.date" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="receipt.totalAmount" class="form-control" />
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>